/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #e6f2ff; /* Azul claro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

h1 {
    color: #4b0082; /* Morado */
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px 0;
}

/* Estilo del contenedor de la lista */
.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    margin-top: 20px;
}

#taskInput {
    width: calc(70% - 22px);
    display: inline-block;
}

#addTaskBtn {
    width: calc(30% - 22px);
    background-color: #800080; /* Morado */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addTaskBtn:hover {
    background-color: #9932cc; /* Morado claro */
}

/* Estilos para la lista de tareas */
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    background-color: white;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #f9f9f9;
}

.task span {
    flex-grow: 1;
    padding: 0 10px;
}

/* Estilos para botones de tareas */
.task button {
    background-color: #ff6347; /* Rojo tomate */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    transition: background-color 0.3s ease;
}

.task button.complete {
    background-color: #663C8F; /* morado */
}

.task button.complete:hover {
    background-color: #AE93C8; /* morado claro más oscuro */
}

.task button.delete {
    background-color: #6D4FC9; /* Rojo anaranjado */
}

.task button.delete:hover {
    background-color: #AD9EDE; /* Rojo tomate */
}

.completed {
    text-decoration: line-through; 
    color: #a9a9a9;
}
